<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0>
        <title>Todo app</title>
        <style>
            .priority-low { color: yellowgreen; }
            .priority-normal { color: orange; }
            .priority-high { color: red; }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const ws = new WebSocket(`ws://${window.location.host}/ws`);
                
                ws.addEventListener('message', (event) => {
                    const data = JSON.parse(event.data);
                    
                    if (data.type === 'todos') {
                        document.getElementById('todos-container').innerHTML = data.html;
                    }
                });
            });
        </script>
    </head>
    <body>
        <h1><%= title.toUpperCase() %></h1>
        <div id="todos-container">
            <%- include('_todos.html', { todos }) %>
        </div>

        <form action="/todos" method="POST">
            <input type="text" name="title" placeholder="Enter a title">
            <select name="priority">
                <option value="low">Low</option>
                <option value="normal" selected>Normal</option>
                <option value="high">High</option>
            </select>
            <button type="submit">Add</button>
        </form>
    </body>
</html>